.my-button{
	width: 80%;
}

.navbar-brand{
	font-size: 50%;
	color: white;
}

.btn{
	background-color: black !important;

}

div#blogposts{
	width: 70%;
	margin: auto auto !important;
}

h2 {
	background-color: #475957;
}

	h2 a{
		font-size: 3rem;
		text-decoration: none;
		color: white;
	}

	h2 a:hover{
		color: black;
		transition: 1s;
	}
